{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
    "quotes": [ 1, "single" ],
    "react/prefer-es6-class": 2,
    "react/jsx-indent": [ 2, 4 ],
    "react/prop-types": [ 1 ],
    "react/no-array-index-key": [ 1 ],
    "no-undef": [ 1 ],
    "no-case-declarations": [ 1 ],
    "no-return-assign": [ 1 ],
    "comma-dangle": 0
  }
}